/*newest style*/
#main-header{
     color: #202020;
     font-family: 'Montserrat', sans-serif;
}

#wrapper{
 overflow:hidden;
 color: #202020;
 height: 150px;
}

#c1{
     position: absolute;
     left: 30px;
     height: 150px;
     float:left;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;

}

#c1 p {
     text-align: center;
}

#c2{
     position: absolute;
     right: 30px;
     height: 150px;

     float:right;
}

#navbar{
     padding-top: 50px;
     padding-left: 10px;
     color:#fff;
     right: 100px;
}

#navbar ul{
     list-style: none;
}

#navbar li{
     padding-left: 20px;
     display:inline;
}

#navbar a{
     color:white;
     text-decoration: none;
     color: #202020;
     font-family: Montserrat;
     font-size: 20px;
     letter-spacing: 1px;
     line-height: 24px;
     padding-right:15px;
}

.wrapper2{
     position: relative;
     overflow:hidden;
     color: #202020;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;
     height: 600px;
}

#tagline{
     position: relative;
     left: 150px;
     height: 50px;
     width: 600px;
     color: #202020;
     font-family: Montserrat;
     font-size: 32px;
     font-weight: normal;
     letter-spacing: 1px;
     line-height: 48px;
}
#schoolCont {
     position: relative;
     left: 150px;
     height: 50px;
     width: 450px;
     color: #202020;
     font-family: Montserrat;
     font-size: 16px;
     font-weight: bold;
     letter-spacing: 1px;
     line-height: 24px;
}

#majorCont{
     position: relative;
     left: 150px;
     height: 50px;
     width: 450px;
     color: #202020;
     font-family: Montserrat;
     font-size: 16px;
     font-weight: normal;
     letter-spacing: 1px;
     line-height: 24px;
}

#blurbCont{
     position: relative;
     left: 150px;
     height: 150px;
     width: 450px;
     color: #202020;
     font-family: Merriweather;
     font-size: 16px;
     font-weight: normal;
     letter-spacing: 1px;
     line-height: 24px;
}

.button button{
     position: relative;
     left: 150px;
     background-color: #B99458; 
     font-family: Montserrat;
     border: none;
     color: white;
     padding: 20px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
}

#resume {
      display: flex;
  align-items: center;
  justify-content: center;
}

#github {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
     text-decoration: none;
}

/* visited link */
a:visited {
 color: white;
}

/* mouse over link */
a:hover {
 color: white;
}

/* selected link */
a:active {
 color: white;
}

#pic {
     position: absolute;
     float: right;
     top: 20px;
     right: 90px;
}

#wrapper3{
     position: relative;
     overflow:hidden;
     color: #202020;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;
     height: 520px;
}

#bulletCont {
     height: 150px;
     background:purple;
     width: 400px;
     color: #202020;
     font-family: Montserrat;
     font-size: 16px;
     font-weight: normal;
     letter-spacing: 1px;
     line-height: 24px;
     list-style: none;
}

#wrapper4{
     padding-left: 20px;
     position: relative;
     background:#D0BCFE;
     overflow:hidden;
     color: #202020;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;
     height: 600px;
}

#tjx {
      position: relative;
     left: 150px;
     width: 500px;
     float: left;
     font-family: Montserrat;
     font-size: 25px;
     width: 400px;
     text-align: center;
}

#languages {
     position: relative;
     left: 150px;
     float: left;
     font-family: Montserrat;
     font-size: 25px;
     width: 400px;
     text-align: center;
}
#languages ul{
     list-style: none;
}
#tools {
     position: relative;
     float: left;
     font-family: Montserrat;
     font-size: 25px;
     width: 400px;
     text-align: center;
     background-color: red;
}
#tools ul{
     list-style: none;
}
#proj {
     float: left;
     font-family: Montserrat;
     font-size: 25px;
     width: 400px;
     background: green;
     text-align: center;
}
#proj ul{
     list-style: none;
}

#main-footer{
     font-family: Montserrat;
     background: #333;
     color:#fff;
     text-align: center;
     padding:20px;
     margin-top:40px;
}